<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{171,49}}</string>
                <key>sourceSize</key>
                <string>{203,51}</string>
            </dict>
            <key>ButtonPressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{181,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{181,51}}</string>
                <key>sourceSize</key>
                <string>{203,51}</string>
            </dict>
            <key>MainMenuBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenuUI_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4c16dc06f8d1f8b1e30a2329cb689b3$</string>
            <key>textureFileName</key>
            <string>MainMenuUI_0.png</string>
        </dict>
    </dict>
</plist>
