<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>1</integer>
		<key>highlightingTime</key>
		<real>1.5</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>1</integer>
		<key>highlightingTime</key>
		<real>1.2</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>1</integer>
		<key>highlightingTime</key>
		<real>1</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>1</integer>
		<key>highlightingTime</key>
		<real>0.9</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>1</integer>
		<key>highlightingTime</key>
		<real>0.8</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>maxHighlightedButton</key>
		<integer>2</integer>
		<key>highlightingTime</key>
		<real>0.7</real>
		<key>relaxTime</key>
		<string>{2000, 1000}</string>
		<key>countToNextLevel</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
